body {
    color: white;
    background-color: black;
    font-family: sans-serif;
}

h1 {
    text-align: center;
    margin-top: 30px;
}

.page {
    position: relative;
    height: 100%;
    margin: auto;
    width: 60%;
}

.page h2 {
    text-align: center;
}

#screenSizeWarning {
    display: none;
}

#consentPage p {
    width: 80%;
    margin: auto;
}

.centerButton {
    margin: 0;
    position: absolute;
    width: 10%;
    left: 45%;
}

#instructionPage {
    display: none;
}

#instructionPage p {
    width: 80%;
    margin: auto;
}

.highlightedText {
    background-color: red;
}

#referencePage {
    display: none;
}

#referencePage p {
    width: 80%;
    margin: auto;
}

#referencePage a {
    display: block;
}

#referencePage table {
    width: 100%;
}

#referencePage img {
    height: 20em;
}

#trialPage {
    display: none;
    text-align: center;
}

#trialPage table {
    margin: auto;
}

#trialPage td {
    padding-left: 3em;
    padding-right: 3em;
}

#trialPage img {
    width: 800px;
}

#leftImageContainer {
    left: 1em;
    position: fixed;
}

#rightImageContainer {
    right: 1em;
    position: fixed;
}

#appealQuestion {
    display: none;
}

.appealButton {
    display: none;
}

#demographicsPage {
    display: none;
}

#demographicsPage table {
    margin: auto;
    width: 70%;
}

#demographicsPage table td {
    padding: 1em;
}

.red {
    color: red;
}

.preloadImage {
    display: none;
}